.search-wrapper {
  height: 100vh;
  background: $background-50;
}

.search {
  padding: 0 24px;

}

.detail-search {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  @include typo-regular-tertiary();
  text-decoration: underline $text-black-30;

  :where([ data-position = 'left' ]) {
    margin-inline-end: 4px;
  }

  path {
    fill: $text-black-30;
  }
}

.input {
  input {
    height: 52px;
    padding: 12px 24px;
    border-radius: 30px;
  }

  div {
    right: 24px;
  }
}