.schedule-page {
  height: 100vh;
  background: $background-40;
  overflow-y: hidden;

  .sticky-header {
    position: sticky;
    top: 0;
    left: 0;
    background: $background-40;
  }

  .schedule-wrapper {
    padding: 0 24px;
  }

  .competitions {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px 24px 24px 24px;
    height: calc(100% - 212px - 16px);
    overflow-y: auto;
  }
}
