.competition-card {
  display: flex;
  gap: 16px;
  width: 100%;
  padding: 20px;
  background: $background-50;
  border-radius: 12px;

  .d-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 4px;
    width: 20%;
    min-width: 80px;
    min-height: 80px;
    aspect-ratio: 1;
    height: auto;
    color: $text-black-20;
    border-radius: 4px;
    text-align: center;

    .status {
      @include typo-regular-body3();
    }

    .remain {
      @include typo-semi-body2();
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
    max-height: 82px;

    .name {
      color: $text-black-20;
      @include typo-regular-body1();
      @include text-ellipsis-line();
    }

    .all-date {
      display: flex;

      .date {
        color: $text-black-40;
        @include typo-regular-body2();
      }
    }
  }
}
