.mantine-Checkbox-body {
  align-items: center;
  padding: 8px 10px;

  .mantine-Checkbox-input {
    background: $background-30;
    border: 1px solid $border-20;

    &:checked {
      background: $main-10;
      border: none;
    }
  }
  .mantine-Checkbox-label {
    padding-inline-start: 12px;
    color: $text-black-30;
  }
}
