.result-item {
  display: flex;
  flex-direction: column;
  background: $background-50;
  border-radius: 12px;
  padding: 24px;

  .team {
    margin-bottom: 8px;
  }

  .name {
    @include typo-regular-body1;
    color: $text-black-20;
    margin-bottom: 16px;
  }

  .infos {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;

    .info {
      padding: 8px 12px;
      background: $background-30;
      border-radius: 4px;
      @include typo-regular-body3;
      color: $text-black-30;

      &:empty {
        display: none;
      }
    }
  }

  .result {
    margin-left: auto;
    @include typo-semi-h2();
    color: $text-black-10;
  }
}
