.chip-group {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 36px;

  .personal-event, .team-event {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }

}

.title {
  @include typo-regular-body2();
  margin-bottom: 8px;
}


.chip > label {
  background: $status-selected-n !important;
}

.chip > label[data-checked="true"] {
  background: $status-selected-y !important;
  color: $text-blue-10;

  svg {
    path {
      fill: $text-blue-10;
    }
  }
}


.chip {
  label {
    height: 44px;
    padding: 8px 16px;
    border-radius: 30px;
  }

  span {
    @include typo-regular-body1();
  }
}
