.result-detail-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 24px;
  background: $background-50;

  .back {
    padding: 12px 0;
    margin-bottom: 32px;

    .back-icon {
      position: sticky;
      top: 0;
      left: 0;
      width: auto;
      margin-right: auto;
    }
  }
}
