.mantine-Drawer-header {
  padding: 24px;

  .mantine-Drawer-title {
    @include typo-semi-h2();
    color: $text-black-20;
  }
}

.mantine-Drawer-body {
  padding: 0 24px;
  max-height: 80vh;
  overflow: auto;
}

.mantine-Drawer-content {
  height: auto;
  border-radius: 12px 12px 0 0;
}

.button-wrapper {
  position: sticky;
  bottom: 0;
  padding: 16px 0;
  background: $background-50;
  border: none;

  .button {
    width: 100%;
    height: 52px;
    padding: 12px 28px;
    background: $status-activated-primary;
    border-radius: 12px;
    @include typo-regular-body1();
    color: $text-black-60;
  }
}
