.search-page {
  height: 100vh;
  background: $background-50;

  .mantine-Tabs-root {
    margin-bottom: 16px;
  }

  .search-wrapper {
    padding: 0 24px;

    .description {
      margin-bottom: 28px;
      text-align: center;
      @include typo-semi-h2();
      color: $text-black-10;
    }
  }

  .mantine-Button-root {
    display: flex;
    justify-content: center;
    height: 44px;
    margin: 24px auto 0 auto;
    @include typo-regular-tertiary();
    text-decoration: underline $text-black-30;

    .mantine-Button-section {
      margin-inline-end: 4px;
    }

    path {
      fill: $text-black-30;
    }
  }
}
