.result-page {
  height: 100vh;
  padding: 12px 24px 24px;
  overflow-x: hidden;
  overflow-y: auto;
  background: $background-40;

  .input-wrapper {
    display: flex;
    gap: 8px;

    .back {
      width: 48px;
      height: 48px;
    }
  }

  .results {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
