.result-page {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: $background-40;
  padding: 0 24px;

  .sticky-header {
    position: sticky;
    top: 0;
    left: 0;
    background: $background-40;
    padding-bottom: 12px;
  }

  .results {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
