.result-page {
  height: 100vh;
  padding: 12px 24px 24px;
  overflow-x: hidden;
  overflow-y: auto;
  background: $background-40;

  .input-wrapper {
    display: flex;
    gap: 8px;

    .back {
      width: 48px;
      height: 48px;
    }

    .mantine-Input-wrapper {
      width: 100%;

      .mantine-Input-input {
        height: 52px;
        padding: 12px 24px;
        border-radius: 30px;
      }

      .mantine-Input-section {
        right: 24px;
      }
    }
  }

  .results {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
