$text-black-10: #1d1d1d;
$text-black-20: #2d2d2d;
$text-black-30: #3d3d3d;
$text-black-40: #5d5d5d;
$text-black-50: #828282;
$text-black-60: #fdfdfd;
$text-blue-10: #00306d;

$text-background-10: #494949;
$text-background-20: #b3b3b3;
$text-background-30: #e3e3e3;
$text-background-40: #f4f4f4;
$text-background-50: #fdfdfd;

$status-activated-primary: #1d7bf3;
$status-activated-secondary: #1d7bf3;
$status-activated-tertiary: #fdfdfd;
$status-inactivated: #b7b7b7;
$status-selected-y: #b9d8ff;
$status-selected-n: #e3e3e3;
$status-contest-reservation-start: #e0eeff;
$status-contest-reservation-finish: #c4deff;
$status-contest-start: #93c2ff;
$status-contest-ongoing: #1d7bf3;
$status-contest-finish: #4276b8;

$border-10: #9f9f9f;
$border-20: #828282;

$main-10: #1d7bf3;

$shadow-10: #000000;

$background: #f5f5f5;